/*body, header, h1, main, section - #cats, #dogs, h2, article - .dog, .cat, p, img*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  min-width: 100svw;
  background-color: #c9cba3;
  text-align: center;
  padding: 30px;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  color: #472d30;
}

main {
  background-color: #e7d7c1;
  text-align: center;
}

h2 {
  text-align: center;
  padding: 30px;
  font-size: 30px;
}

#cats h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#dogs h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#cats {
  background-color: #c9ada7;
}

img {
  width: 400px;
}

.cat {
  margin: 0px auto;
  padding: 20px;
  width: 700px;
  border: 3px dotted;
}

.cat img {
  border: 2px solid #472d30;
}

p {
  margin: 10px;
  font-size: 25px;
}
.cat p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
}

#dogs {
  background-color: #ba895b96;
}

.dog img {
  border: 2px inset brown;
}

.dog {
  margin: 0px auto;
  padding: 20px;
  width: 700px;
  border: 2px solid rgb(53, 34, 10);
}

.dog p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
